.wrapper {
    display: grid;
    grid-gap: 20px;
    grid-template-areas: "search" "person" "messages";
}

.person {
    grid-area: person;
    justify-content: flex-start;
}

.search {
    grid-area: search;
}

.messages {
    grid-area: messages;
}

@media (min-width: 500px) {
    .wrapper {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "search messages" "person messages";
    }

    .person {
        grid-row-start: 1;
        margin-top: 50px;
    }
}

@media (min-width: 1000px) {
    .wrapper {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "person search" ". messages";
    }

    .person {
        grid-row: 1 / span 2;
        margin-top: 50px;
    }

    .wrapper div.messages {
        margin-top: 50px;
    }
}
